body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,a0d8ef+100;Blue+3D+%2318 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
    background: rgb(206, 220, 231); /* Old browsers */
    background: -moz-linear-gradient(left, rgb(231, 228, 228) 0%, rgb(180, 210, 227) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(206, 220, 231, 1) 0%, rgb(180, 210, 227) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(206, 220, 231, 1) 0%, rgb(180, 210, 227) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cedce7', endColorstr='#596a72', GradientType=0); /* IE6-9 */
}

.header {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(30, 87, 153, 1);
}


.header h1 {
    color: white;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:visited {
    color: white;
}

.search-container {
}

.search-container label {
    visibility: hidden;
}

.search-container form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-container input {
    margin: 0;
    height: 40px;
    color: black;
    background: white;
    font-size: 12px;
    border: none;
    padding: 0 10px;
    margin-top: -40px;
}

.search-container button {
    height: 40px;
    margin-top: 11px;
    background-color: lightgrey;
    border-width: 0; 		/* FIXME: this is being contaimnated by something*/
}

#event-add {
    font-size: 160%;
    border-radius: 50%;
}

.event button {
    border-width: 2px;
    border-color: white;
    background-color: rgba(30, 87, 153, 1);
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header button {
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: arial, helvetica, sans-serif;
    color: white;

    margin-top: 8.25px;
}
.profile button {
    padding: 6px 8px 7px 8px;
    margin: 7px;
    border-radius: 5px;
    border-width: 2px;
    border-color: white;
    background-color: rgba(30, 87, 153, 1);
}

.header button:hover {
    border: 1px solid #b6c7cc;
    background-color: #d4dee1;
}

.result-container {
    max-width: 900px;
    margin: 10px auto;
}

.event-container {
    max-width: 900px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-width: 1px;
    border-color: lightgrey;
    padding: 12px;
    width: 100%;
}

.event-container button {
    float: right;
}

div.loginPageButtons {
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

tr.loginPage {
    margin: 0 auto;
}

table.loginPage {
    width: 100%;
}

div.flash {
    margin: 0 auto;
    text-align: center;
}

/*Container for login fields*/
div.loginPage {

    width: auto;
    padding: 10px;
    margin: 0 auto;
    margin-top: 100px;

}

/*Text inside buttons on login page inside of*/
p.buttonText {
    font-family: 'Hind Guntur', sans-serif;
    font-size: 10px;
    text-align: center;
    position: relative;
    margin: auto;

    top: 50%;

    transform: translateY(-50%);
}

button.loginPage {

    border: 1px solid dimgray;
    cursor: pointer;
    width: 120px;
    height: 25px;
    display: block;
    margin: auto;
    text-align: center;
    vertical-align: center;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #090909;
    background-color: #f2f5f6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
    background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f2f5f6, endColorstr=#c8d7dc);

}

button.loginPage:hover {
    border: 1px solid #b6c7cc;
    background-color: #d4dee1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d4dee1), to(#a9c0c8));
    background-image: -webkit-linear-gradient(top, #d4dee1, #a9c0c8);
    background-image: -moz-linear-gradient(top, #d4dee1, #a9c0c8);
    background-image: -ms-linear-gradient(top, #d4dee1, #a9c0c8);
    background-image: -o-linear-gradient(top, #d4dee1, #a9c0c8);
    background-image: linear-gradient(to bottom, #d4dee1, #a9c0c8);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d4dee1, endColorstr=#a9c0c8);
}

h1.loginPage {
    display: block;
    margin: 0 auto;
    text-align: center;
}

input.loginPage {
    display: block;
    margin: 0 auto;
}

dl.loginPage {
    text-align: center;

}

dl.loginPage dt:after {
    display: inline-block;
    width: 50%;
    text-align: center;
}

dd {
    text-align: center;
    margin: 0 auto;
}

textarea.addEventDescription {
    width: 50%;
    height: 150px;
}

p.Error{
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
