body {
    background: lightgray;
}

table.header{
    width: 100%;
}
td.header{
    padding-top: 25px;
}

form.header{
    padding-top: 5px;
}

div.header {
    width: 105%;
    height: 150px;
    margin-top: -50px;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    text-align: center;
    background: lightslategrey;
    color: white;
    font-size: 30px;
    border-bottom: 1px solid black;
}

h1.header {
    text-align: left;
    padding-top: 8px;
    padding-left: 15px;
}

button.header {
    background-color: lightgray;
    color: black;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    display: block;
    margin: 0 auto;
    text-align: center;

}
div.loginPageButtons{
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

tr.loginPage{
    margin: 0 auto;
}

table.loginPage{
    width: 100%;
}

div.flash{
    margin: 0 auto;
    text-align: center;
}


/*Container for login fields*/
div.loginPage {
    border: 1px solid black;
    background: lightslategrey;
    width: 300px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 100px;

}


/*Text inside buttons on login page inside of*/
p.buttonText{
    text-align: center;
    position: relative;
    margin:auto;

    top: 50%;

    transform: translateY(-50%);
}

button.loginPage {
    background-color: lightgray;
    color: black;
    padding: 14px 20px;
    border: 1px solid dimgray;
    cursor: pointer;
    width: 120px;
    height: 25px;
    display: block;
    margin: auto;
    text-align: center;
    vertical-align: center;



}

h1.loginPage {
    display: block;
    margin: 0 auto;
    text-align: center;
}

input.loginPage {
    display: block;
    margin: 0 auto;
}

dl.loginPage {
    text-align: center;

}

dl.loginPage dt:after {
    display: inline-block;
    width: 50%;
    text-align: center;
}

dd {
    text-align: center;
    margin: 0 auto;
}

