@()

@main("Login to meetup") {

    <head>

    </head>

    <body>

        <h1>Login</h1>


        <div class="container">
            <form action="/Login" method="post">
                <div class="row">

                    <div class="col">

                        <input type="text" name="username" placeholder="Username" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <input type="submit" value="Login">
                    </div>

                </div>
            </form>
        </div>


        <div class="bottom-container">
            <div class="row">
                <div class="col">
                    <a href="SignUp" style="color: white" class="btn">Sign up</a>
                </div>
                <div class="col">
                    <a href="ForgotPassword" style="color: white" class="btn">Forgot password?</a>
                </div>
            </div>
        </div>

    </body>


}