@()

@import helper._
@(form: Form[userAccountSettingsForm])
@main("UserAccountSettings") {


<h1>Account Settings</h1>


<table style="width:30%">
    <tr>
        <th></th>
        <th></th>
    </tr>

    <!-- Allows the User to update their username -->
    <tr>
        <td width="30">Update Username</td>
        <td> <input type="text" name="Username" placeholder="Your Name"> </td>
    </tr>

    <!-- Allows the User to update their email, if it has changed -->
    <tr>
        <td>Update Email</td>
        <td> <input type="text" name="email" placeholder="example@email.com"> </td>
    </tr>

    <!-- Allows the User to update their phone number, if it has changed -->
    <tr>
        <td>Update Phone Number</td>
        <td> <input type="text" name="phone" placeholder="(000) - 000 - 0000"> </td>
    </tr>

    <!-- Button to send a Password Reset Email to the email above -->
    <tr>
        <td>Reset Password</td>
        <td>  <button type="button">Send Email</button> </td>
    </tr>

    <!-- List of places the User has been from the DB -->
    <tr>
        <td>Places I've Been</td>
        <td> Locations From Database </td>
    `   <td> <button type="button">Add New Location</button> </td>
    </tr>

    <!-- Allows the User to update where they live -->
    <tr>
        <td>Home Address</td>
        <td> <input type="text" name="userHome" placeholder="My Home" size="50"> </td>
    </tr>

</table>

<br>
<!-- Saves changes to the Database -->
<input type="submit" value="Save Changes">
<br>


}