@*
Form[newUserForm] is needed to construct page
*@
@import forms.resetPasswordForm
@import helper._
@(form: Form[resetPasswordForm])(searchHeaderForm: Form[Search])
@viewMain("Reset Password") {
    @*
    Tells the action of the form is to use the run the Post login in LoginController

    Using CSRF authenticates and allows POST requests
    *@

    <div class="loginPage">
        @CSRF.formField
        <h1 class="loginPage">Reset Password</h1>
        @*
        This creates the neceessary html to populate the fields of the loginForm
        *@
        <div class="flash">
        @if(flash.containsKey("Message")) {
            <p class="Error">
            @flash.get("Message")
            </p>
        }
        </div>


        @*
            Changes form if the user has sent a reset code to their email
    *@
        @if(!session().get("resetCode").equals("")){

            @helper.form(action = routes.resetPasswordController.sendResetPassword) {
                @helper.inputText(form("resetCode"), 'required -> "required",
                    '_label -> "Code",
                    'placeholder -> " Reset Code",
                    'id -> "resetCode",
                    'class -> "loginPage",
                    '_class -> "loginPage")
                @helper.inputPassword(form("tempNewPassword"), 'required -> "required",
                    '_label -> "New Password",
                    'placeholder -> "New Password",
                    'id -> "newPassword",
                    'class -> "loginPage",
                    '_class -> "loginPage")
                @helper.inputPassword(form("tempNewPasswordConfirm"), 'required -> "required",
                    '_label -> "Confirm New Password",
                    'placeholder -> "New Password",
                    'id -> "newPasswordConfirm",
                    'class -> "loginPage",
                    '_class -> "loginPage")
                <button type="submit" class="loginPage"><p class="buttonText">Reset</p></button>
            }


        }else{
            @helper.form(routes.resetPasswordController.resetPassword()) {
                @helper.inputText(form("Email"), 'required -> "required",
                    'placeholder -> "Email",
                    'class -> "loginPage",
                    '_class -> "loginPage")


                <button type="submit" class="loginPage"><p class="buttonText">Reset Password</p></button>

            }
        }
    </div>


}(searchHeaderForm)
