@import helper._
@import forms.userAccountSettingsForm
@(form: Form[userAccountSettingsForm], message: String)(searchHeaderForm: Form[Search])

@viewMain("Account Settings") {

    @helper.form(routes.UserAccountSettingsController.UserAccountSettings()) {
        @CSRF.formField

        <h1>Account Settings</h1>



        @helper.inputText(form("username"),
        '_label -> "Username",
        'placeholder -> "Username",
        'id -> "username")


        @helper.inputText(form("password"),
        '_label -> "password",
        'placeholder -> "password",
        'id -> "password")


        @helper.inputText(form("name"),
        '_label -> "Name",
        'placeholder -> "Your Name",
        'id -> "name")


        @helper.inputText(form("email"),
        '_label -> "Email",
        'placeholder -> "example@email.gov",
        'id -> "email")


        @helper.inputText(form("phone"),
        '_label -> "Phone",
        'placeholder -> "12345678910",
        'id -> "phone")

        <p>Home Address:</p>

        @helper.inputText(form("address"),
        '_label -> "Home Address",
        'placeholder -> "123 Place Lane",
        'id -> "address")

        @helper.inputText(form("zip"),
        '_label -> "Zip Code",
        'placeholder -> "00000",
        'id -> "zip")

        @helper.inputText(form("city"),
        '_label -> "City",
        'placeholder -> "Houghton",
        'id -> "city")

        @helper.inputText(form("state"),
        '_label -> "State (2 letter code)",
        'placeholder -> "Mi",
        'id -> "state")

        @helper.inputText(form("country"),
        '_label -> "Country",
        'placeholder -> "United States",
        'id -> "country")

        <br>
            <a href="@controllers.routes.UserAccountSettingsController.UserAccountSettings">Submit Changes</a>
        <br>

    }

}(searchHeaderForm)