@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)(form: Form[forms.Search])

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
    <title>@title - Meet-Up!</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
	<div class="header">
      <h1><a href="/">Meet-Up!</a></h1>

      @viewSearch(form)

            @if(session().containsKey("username")) {
                @if(!session().get("username").equals("null")) {
                    <form class="event" action="@routes.AddNewEventController.renderViewAddEvent()">
                    <button id="event-add" type="submit" title="Create new event!">+</button>
		    </form>
		}
	    <div class="profile">
                        @if(session().get("username").equals("null")) {
                            <form action="@routes.LoginController.renderViewLogin()" >
                                <button type="submit" class="headerLogin">Login</button>
                            </form>
                        } else {
                            <form action="@routes.UserProfileController.renderViewUserProfile()" >
                                <button type="submit" class="headerLogin">Profile</button>
                            </form>
			    <form action="@routes.LoginController.logout()" >
				<button type="submit" class="headerLogin">Logout</button>
                            </form>
                        }
                }
	    </div>
	</div>

	@* And here's where we render the `Html` object containing
	 * the page content. *@
        @content

	<footer>
        <form action="@routes.debugController.main()">
            <input type="submit" value="Debug" />
            <input type="hidden" name="previousURL" value="@request.uri"/>
        </form>

        @if(flash.containsKey("debug")) {
            <p class="debug">
            @flash.get("debug")
            </p>
        }


	    Copyright © 2018 Good 'nough Software


	</footer>
	<script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
