@*
Form[newUserForm] is needed to construct page
*@
@import helper._
@(form: Form[newUserForm])
@viewMain("New User") {
    @*
    Tells the action of the form is to use the run the Post login in LoginController

    Using CSRF authenticates and allows POST requests
    *@
    @helper.form(CSRF(routes.newUserController.createNewUser())) {
        <h1>Create new user</h1>
        @*
        This creates the neceessary html to populate the fields of the loginForm
        *@
        @helper.inputText(form("First name"), 'required -> "required")
        @helper.inputPassword(form("Last name"), 'required -> "required")
        @helper.inputText(form("Username"), 'required -> "required")
        @helper.inputPassword(form("Password"), 'required -> "required")

        <p>
            <button type="submit">Create new user!</button>
        </p>


    }


}
