@import helper._

@(form: Form[userProfileForm], events: List[models.Event], message: String)(searchHeaderForm: Form[Search])

@viewMain("Your Profile") {

    <div class="result">

        @if(events == null){
            <h2>No results found ☹, please search and add a new location!</h2>
        } else{
            @for(event <- events){
                <h3>My Events: </h3>
                <ul>
                <li>@event.name</li>
                <li>@event.startDate</li>
                <li>@event.endDate</li>
                <li>@event.summary</li>
                </ul>
            }
        }

    </div>

}(searchHeaderForm)