@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
	<div class="header">
        <table class="header">
            <tr><td>
                <h1 class="header">Meet-up</h1>
            </td>
                <td class="header">


                        @if(session().get("username").equals("null")){
                            <form class="header" action="@routes.LoginController.renderViewLogin()" >
                                <button type="submit" class="header">Login</button>
                            </form>
                        }else{
                            <form class="header" action="@routes.UserProfileController.renderViewUserProfile()" >
                                <button type="submit" class="header">Profile</button>
                            </form>
                        }

                    <form class="header" action="@routes.LoginController.logout()" >
                        <button type="submit" class="header">Logout</button>
                    </form>


            </td></tr>


        </table>
	</div>

        @content

	<footer>
	    Copyright © 2018 Good 'nough Software

            <form action="@routes.debugController.main()">
                <input type="submit" value="Debug" />
                <input type="hidden" name="previousURL" value="@request.uri"/>
            </form>


            @if(flash.containsKey("debug")) {
                <p class="debug">
                @flash.get("debug")
                </p>
            }
	</footer>
	<script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
