@*
Form[newUserForm] is needed to construct page
*@
@import helper._
@(form: Form[resetPasswordForm])
@viewMain("Reset Password") {
    @*
    Tells the action of the form is to use the run the Post login in LoginController

    Using CSRF authenticates and allows POST requests
    *@
    @helper.form(CSRF(routes.resetPasswordController.resetPassword())) {
        <h1>Reset Password</h1>
        @*
        This creates the neceessary html to populate the fields of the loginForm
        *@

        @helper.inputText(form("Email"), 'required -> "required")

        <p>
            <button type="submit">Reset Password</button>
        </p>


    }


}
