@*
Form[newUserForm] is needed to construct page
*@
@import helper._
@(form: Form[resetPasswordForm])
@viewMain("Reset Password") {
    @*
    Tells the action of the form is to use the run the Post login in LoginController

    Using CSRF authenticates and allows POST requests
    *@

        @CSRF.formField
        <h1>Reset Password</h1>
        @*
        This creates the neceessary html to populate the fields of the loginForm
        *@
        @if(flash.containsKey("Message")) {
            <p class="Error">
            @flash.get("Message")
            </p>
        }


        @*
            Changes form if the user has sent a reset code to their email
    *@
        @if(!session().get("resetCode").equals("")){

            @helper.form(action = routes.resetPasswordController.sendResetPassword) {
                @helper.inputText(form("resetCode"), 'required -> "required",
                    '_label -> "Code",
                    'placeholder -> "code",
                    'id -> "resetCode")
                @helper.inputText(form("tempNewPassword"), 'required -> "required",
                    '_label -> "New Password",
                    'placeholder -> "new Password",
                    'id -> "newPassword")
                <button type="submit" class="loginPage"><p class="buttonText">Reset</p></button>
            }


        }else{
            @helper.form(routes.resetPasswordController.resetPassword()) {
                @helper.inputText(form("Email"), 'required -> "required")

                <p>
                    <button type="submit">Reset Password</button>
                </p>
            }
        }


}
