@import helper._
@(form: Form[userAccountSettingsForm], message: String)
@viewMain("Account Settings") {

    @helper.form(routes.UserAccountSettingsController.UserAccountSettings()) {
        @CSRF.formField

        <h1>Account Settings</h1>



        @helper.inputText(form("username"),
        '_label -> "Username",
        'placeholder -> "Username",
        'id -> "username")


        @helper.inputText(form("password"),
        '_label -> "password",
        'placeholder -> "Pa55w0rd",
        'id -> "password")


        @helper.inputText(form("name"),
        '_label -> "Name",
        'placeholder -> "John Doe",
        'id -> "name")


        @helper.inputText(form("email"),
        '_label -> "Email",
        'placeholder -> "example@email.gov",
        'id -> "email")


        @helper.inputText(form("phone"),
        '_label -> "Phone",
        'placeholder -> "10123456789",
        'id -> "phone")


        <br>
            <button type="submit">Save Changes</button>
        <br>

    }

}