@import forms.userProfileForm
@(user: models.User, events: List[models.Event])(searchHeaderForm: Form[forms.Search])

@viewMain(user.name + "'s Profile") {

    <div class="event-container">
    <table>
        <tr><td>Name: @user.name</td></tr>
        <tr><td>Email: @user.email</td></tr>
        <tr><td>Phone: @user.phone</td></tr>
	@if(user.location != null) {
            <tr><td>Location: @user.location.country, @user.location.city, @user.location.address, @user.location.zip</td></tr>
	    }
    </table>

    <h3>Events attending: </h3>
    <ul>
	@for(event <- events) {
	    <li><a href="/event/@event.id">@event.name</a></li>
	}
    </ul>
    </div>

}(searchHeaderForm)
