@*
Form[loginForm] is needed to construct page
*@
@import helper._
@(form: Form[loginForm], message: String)
@viewMain("Login to Meet-up") {
    @*
    Tells the action of the form is to use the run the Post login in LoginController

    Using CSRF authenticates and allows POST requests
    *@
    @helper.form(routes.LoginController.login()) {
        @*
            Moved CSRF out of routes, doing so will remove it from url string and store it as
            a value <input type="hidden" name="csrfToken" value="1234567890abcdef"/>

            *@

        @CSRF.formField

        <h1>Login</h1>
        @*
        This creates the neceessary html to populate the fields of the loginForm
        *@
        <p>@message</p>
        @helper.inputText(form("username"),
            'required -> "required",
            '_label -> "Username",
            'placeholder -> "username",
            'id -> "username")
        @helper.inputPassword(form("password"),
            'required -> "required",
            '_label -> "Password",
            'placeholder -> "password",
            'id -> "password")
        @*
        This is left here to show how play can create html based off of forms
        <p>
        <input type="username" name="username" placeholder="Username" required>
        </p>
        <p>
        <input type="password" name="password" placeholder="Password" required>
        </p>
        *@
        <p>
            <button type="submit">Login</button>
        </p>



        <a href="/viewNewUser">Sign up!</a>
        <a href="/viewResetPassword">Forgot password?</a>

    }


}
