@import forms.newEventForm
@import helper._
@(form: Form[newEventForm])(searchHeaderForm: Form[Search])
@viewMain("Create a new event!") {

    @helper.form(routes.AddNewEventController.addNewEvent()){

        @CSRF.formField
        <div class="loginPage">
            <h1 class="loginPage">Create a new Event!</h1>

            <div class="flash">
            @if(flash.containsKey("Message")) {
                <p class="Error">
                @flash.get("Message")
                </p>
            }
            </div>
            <table>
                <tr>
                    @helper.inputText(form("eventName"),
                        'required -> "required",
                        '_label -> "Name",
                        'placeholder -> "Event Name",
                        'id -> "eventName",
                        'class -> "loginPage",
                        '_class -> "loginPage",
                        'size -> 75)

                    @helper.textarea(form("eventDescription"),
                        'required -> "required",
                        '_label -> "Description",
                        'placeholder -> "Event Description",
                        'id -> "eventDescription",
                        'class -> "addEventDescription",
                        '_class -> "loginPage")
                    @helper.inputText(form("eventCountry"),
                        'required -> "required",
                        '_label -> "Country",
                        'placeholder -> "Event Country",
                        'id -> "eventCountry",
                        'class -> "loginPage",
                        '_class -> "loginPage")
                    @helper.inputText(form("eventState"),
                        'required -> "required",
                        '_label -> "State",
                        'placeholder -> "MI",
                        'id -> "eventState",
                        'class -> "loginPage",
                        '_class -> "loginPage",
                        'size -> 2)
                    @helper.inputText(form("eventCity"),
                        'required -> "required",
                        '_label -> "City",
                        'placeholder -> "Event City",
                        'id -> "eventCity",
                        'class -> "loginPage",
                        '_class -> "loginPage")
                    @helper.inputText(form("eventAddress"),
                        'required -> "required",
                        '_label -> "Address",
                        'placeholder -> "Event Address",
                        'id -> "eventAddress",
                        'class -> "loginPage",
                        '_class -> "loginPage")
                    @helper.inputText(form("eventZip"),
                        'required -> "required",
                        '_label -> "Zip",
                        'placeholder -> "Event Zip",
                        'id -> "eventZip",
                        'class -> "loginPage",
                        '_class -> "loginPage")
                    @helper.inputDate(form("startDate"),
                        'required -> "required",
                        '_label -> "Start Date",
                        'placeholder -> "Event Start Date",
                        'id -> "eventStartDate",
                        'class -> "loginPage",
                        '_class -> "loginPage")
                    @helper.inputDate(form("endDate"),
                        'required -> "required",
                        '_label -> "Start Date",
                        'placeholder -> "Event End Date",
                        'id -> "eventEndDate",
                        'class -> "loginPage",
                        '_class -> "loginPage")


                    <button type="submit" class="loginPage"><p class="buttonText">Create Event</p></button>
                </tr>
            </table>
        </div>
    }

}(searchHeaderForm)