@import helper._

@(form: Form[userProfileForm], users: List[models.User], homes: List[models.Location], events: List[models.Event], searchHeaderForm: Form[Search])

@viewMain("Your Profile") {

    @CSRF.formField


    <div class="viewUserProfile">
        @if(users == null){
            <h2>No User Found!</h2>
        } else{
            @for(user <- users){
                @user.name<br>
                @user.username<br>
                @user.phone<br>
                @user.email<br>
            }
        }


        @if(homes == null){
            <br>
        } else{
            @for(home <- homes){
                @home.address<br>
                @home.city, @home.state  @home.zip<br>
                @home.country<br>
            }
        }


        @if(events == null){
            <h3>No results found ☹, please search and add a new event!</h3>
        } else{
            @for(event <- events){
                <h4>My Events: </h4>
                <ul>
                    <li>@event.name</li>
                    <li>@event.startDate</li>
                    <li>@event.endDate</li>
                    <li>@event.summary</li>
                    <li><a href="@controllers.routes.UserProfileController.removeEvent(event.id)">Remove Event</a></li>
                </ul>
            }
        }

    </div>

}(searchHeaderForm)