@*
Form[newUserForm] is needed to construct page
*@
@import helper._
@(form: Form[newUserForm])
@viewMain("New User") {
    @*
    Tells the action of the form is to use the run the Post login in LoginController

    Using CSRF authenticates and allows POST requests
    *@
    @helper.form(routes.newUserController.createNewUser()) {
        @CSRF.formField

        @*
        This creates the neceessary html to populate the fields of the loginForm
        *@

        <div class="loginPage">
            <h1 class ="loginPage">Create new user</h1>
            @if(flash.containsKey("Message")) {
                <p class="Error">
                @flash.get("Message")
                </p>
            }

        @helper.inputText(form("firstName"),
            'required -> "required",
            '_label -> "First Name",
            'placeholder -> "First name",
            'id -> "firstName",
            'class -> "loginPage",
            '_class -> "loginPage")
        @helper.inputText(form("lastName"),
            'required -> "required",
            '_label -> "Last Name",
            'placeholder -> "Last Name",
            'id -> "lastName",
            'class -> "loginPage",
            '_class -> "loginPage")
        @helper.inputText(form("email"),
            'required -> "required",
            '_label -> "Email",
            'placeholder -> "Email",
            'id -> "email",
            'class -> "loginPage",
            '_class -> "loginPage")
        @helper.inputText(form("username"),
            'required -> "required",
            '_label -> "Username",
            'placeholder -> "username",
            'id -> "username",
            'class -> "loginPage",
            '_class -> "loginPage")
        @helper.inputPassword(form("password"),
            'required -> "required",
            '_label -> "Password",
            'placeholder -> "password",
            'id -> "password",
            'class -> "loginPage",
            '_class -> "loginPage")



        <p>
            <button class="loginPage" type="submit">Create new user!</button>
        </p>
        </div>


    }


}
